*{
  padding:0;
  margin:0;
}

body,html{
  height:100%;
}
.t-top{
  position:absolute;
  top:0;
  width:100%;
  height:40px;
  background-color:#ccc;
}
.t-left{
  width:149px;
  position:absolute;
  left:0;
  top:40px;
  bottom:0;
  border-right:1px solid #ccc;
}
.t-right{
  position:absolute;
  bottom:0;
  top:40px;
  left:150px;
  right:0;
}
.full-three{
  position: absolute;
  top:0px;
  right:0;
  bottom:0;
  left:0;
  overflow: hidden;
}