* {
  padding: 0;
  margin: 0;
}
#stats{
  position: absolute;
  left:0;
  top:0;
}
body,
html {
  height: 100%;
  overflow: hidden;
}

.t-top {
  position: absolute;
  top: 0;
  width: 100%;
  height: 40px;
  background-color: #ccc;
}

.t-left {
  width: 149px;
  position: absolute;
  left: 0;
  top: 40px;
  bottom: 0;
  border-right: 1px solid #ccc;
}

.t-right {
  position: absolute;
  bottom: 0;
  top: 40px;
  left: 150px;
  right: 0;
}

.full-three {
  position: absolute;
  top: 0px;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

.inputPositiobn {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.inputPositiobn li {
  background-image: url('../assets/list.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  padding: 0 15px;
  margin-top: 5px;
  color: #fff;
}

li {
  list-style: none;

}

.inputPositiobn input {
  height: 20px;
  background: transparent;
  border: none;
  outline: none;
  color: #fff;
}

.inputPositiobn button {
  width: 100%;
  border: 0;
  height: 20px;
  outline: none;
  background: transparent;
  border: none;
  color: #fff;

}

input[type="number"] {
  -moz-appearance: textfield;
  -webkit-appearance: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.topoShow {
  position: absolute;
  top: 5px;
  right: 5px;
  user-select: none;
}

.positionIocn {
  position: relative;
  display: inline-block;
  height: 16px;
  top: 2px;
  width: 5px;
  margin-right: 5px;
}

.inputPositiobn span {
  font-weight: 100;
  font-size: 13px;
}

.iconX {
  background: #cd1f25
}

.iconY {
  background: #549459
}

.iconZ {
  background: #215ac6
}

.NodesPosition {
  position: relative;
  padding-top: 13px;
  transition:all .2s;
}

.toggle {
  position: absolute;
  top:6px;
  right: 0;
  height:13px;
  cursor: pointer;
}